//Coment

@import "./variables.scss";
@import "./mixin.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: $base-font-size;
  background-color: rgb(217, 117, 247);
}


@include link(silver, red, blue, green);

.header {
  @include link(silver, red, blue, green) {
    background:  #000;

    &:visited {
      color: #4ed725;
    }
  }
}

#grid {
  float: left;
  width: 100%;

  > div {
    @include grid(4, 2%);
  }
}

@for $i from 24 to 29 {
  .#{$someVar}-#{$i} {
    width: 50px + $i;
    height: 50px + $i;
  }
}

.block:not(.first) {

  background: $bgColor;
  height: 200px;
  margin-bottom: 20px;
}

.first {
  @include padd(20px, 50px 20px 30px 10px);
  background-color: $bgColor;
  height: 100px;
  margin-bottom: 20px;
  width: $blockWidth;
}

#central_block {
  padding: 30px;

  ul {
    list-style: none;
    display: inline-block;

  }

  li {
    float: left;
    width: (100%  / 3);
    // margin-right: 10px;

    a {
      @include font($fontW: bold);
      // color: blue;

      &:hover {
        color: #c5c;
      }
    }

    // a:hover {
    //   color: #c5c;
    // }
  }

  a {
    @include font(light, $color);
  }
}
